extends ../layout

block content
  #mainContent.container
    nav(aria-label="breadcrumb")
      ol.breadcrumb
        li.breadcrumb-item 
          a(href="/") 首頁
        li.breadcrumb-item 行事曆
    #calendar
  script(src="/javascripts/fullcalendar/index.global.min.js")
  script(src="/javascripts/fullcalendar-ext/packages/core/locales-all.global.min.js")
  script.
    document.addEventListener('DOMContentLoaded', () => {
      const calendar = new FullCalendar.Calendar(document.getElementById('calendar'), {
        headerToolbar: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay',
        },
        slotMinTime: "08:00:00", //最小開始時間
        slotMaxTime: "22:30:00", //最大開始時間
        slotDuration: "00:10", //時間間隔
        editable: true,       //允許移動
        dayMaxEvents: true, // allow "more" link when too many events
        firstDay: 1,
        locale:'zh-tw',
        fixedWeekCount:false,
        navLinks: true,
        selectable: true,
        selectMirror: true,
        select: function(arg) {
          mask.show()
          axios.get('/calendar/add').then((res) => {
            //modal call
            let tempContent = document.createElement("div")
            tempContent.innerHTML = res.data
            document.getElementById("mainContent").prepend(tempContent)
            let ModalElement = document.getElementById('DetailedModal');
            let modalMethod = new bootstrap.Modal(ModalElement, {backdrop: 'static'});  
            ModalElement.addEventListener('hidden.bs.modal', event => { tempContent.parentElement.removeChild(tempContent); })
            modalMethod.show();
            //setData
            document.getElementById('stdatetime').innerText = arg.start.toLocaleString() 
            document.getElementById('todatetime').innerText = arg.end.toLocaleString()
            document.getElementById('start').value = arg.start.toISOString()
            document.getElementById('end').value = arg.end.toISOString()
            document.getElementById('allDay').value = arg.allDay
            //行事曆新增
            document.getElementById('btn_process').addEventListener('click', (e) => {
              document.getElementById('setstaffName').value = document.getElementById('setstaff')[document.getElementById('setstaff').selectedIndex].text
              document.getElementById('setspaceName').value = document.getElementById('setspace')[document.getElementById('setspace').selectedIndex].text
              let data = new FormData(document.getElementById('formData'));
              axios.post('/calendar',data).then((res) => {
                modalMethod.hide()
                mask.hide()
                calendar.addEvent(res.data.Calendardata)
              })
              .catch((error) => { 
                Swal.fire('發生錯誤')
              })
            })
          }).catch((error) => { 
            Swal.fire('發生錯誤')
          }).finally(() =>{
            mask.hide()
            calendar.unselect()
          })
        },
        eventClick: function(arg) {
          mask.show()
          axios.get('/calendar/detailed/'+arg.event.id).then((res) => {
            document.getElementById('btn_delete').addEventListener('click', (e) => {
              modalMethod.hide()
              arg.event.remove()
            })
          }).catch((error) => { Swal.fire('發生錯誤')
          }).finally(() =>{ mask.hide() })
        },
        eventAdd: function( addInfo ) {},
        eventRemove: function( removeInfo ) {
          mask.show()
          axios.delete('/calendar/'+removeInfo.event.id).then((res) => {
            Swal.fire(res.data.msg)
          }).catch((error) => { 
            Swal.fire('發生錯誤')
            calendar.addEvent(removeInfo.event)
          }).finally(() =>{ mask.hide() })
        },
        eventChange: function(arg) {
          mask.show()
          let data = new FormData();
          data.append('id', arg.event.id)
          data.append('start', arg.event.start)
          data.append('end', arg.event.end)
          data.append('allDay', arg.event.allDay)
          axios.put('/calendar',data).then((res) => {
            mask.hide()
          }).catch((error) => { Swal.fire('處理行事曆時間發生錯誤。')
          }).finally(() =>{mask.hide()})
        },
      });
      
      //init calendar event
      mask.show()
      axios.get('/calendar').then((res) => {
        calendar.addEventSource(res.data.Calendardata)
        calendar.render();
      }).catch((error) => { Swal.fire('行事曆載入發生錯誤。')
      }).finally(() =>{ mask.hide() })
    })
