extends ../layout

block content
  .container
    nav(aria-label="breadcrumb")
      ol.breadcrumb
        li.breadcrumb-item 
          a(href="/") 首頁
        li.breadcrumb-item 行事曆
    #calendar
  script(src="/javascripts/fullcalendar-scheduler-6.1.6/dist/index.global.min.js")
  script(src="/javascripts/fullcalendar-ext/packages/core/locales-all.global.min.js")
  script.
    const calendar = new FullCalendar.Calendar(document.getElementById('calendar'), {
      headerToolbar: {
        left: 'today prev,next' ,
        center: 'title' ,
        right: 'resourceTimeGridDay,resourceTimeGridFourDay,timeGridWeek,dayGridMonth,listWeek' ,
      },
      hiddenDays: [ 0, 6 ], //隱藏星期六日
      height: 'auto',
      slotMinTime: '08:00:00', //最小開始時間
      slotMaxTime: '22:00:00', //最大開始時間
      slotDuration: '00:10', //時間間隔
      editable: #{isEdit},       //允許移動
      selectable: #{isEdit},     //允許選擇
      locale: 'zh-tw',       //本地化
      aspectRatio: 1.8,     //長寬比
      navLinks: true,       //日期可以直接跳當天預設模式
      initialView: 'resourceTimeGridDay', //預設模式
      firstDay: 1, //周的開始
      fixedWeekCount: false,//最多顯示五周
      datesAboveResources: true,//時間顯示在上直式列表
      views: {
        resourceTimeGridFourDay: {
          type: 'resourceTimeGrid',
          duration: { days: 7 },
          buttonText: '空間近五天列表',
        },
        resourceTimeGridDay: { 
          buttonText: '空間列表',
        },
      },
      select: arg => {
        mask.show()
        let data = new FormData()
        data.append('id', '0')
        data.append('start', arg.start)
        data.append('end', arg.end)
        data.append('allDay', arg.allDay)
        data.append('resourceId', arg.resource ? arg.resource.id : 0 )
        
        axios.post('/calendar/detailed',data).then(res => {
          let LoadHTML = document.createElement('div')
          LoadHTML.innerHTML = res.data
          Array.from(LoadHTML.querySelectorAll('script')).forEach(element => {
            let $script = document.createElement('script');
            $script.text = element.text
            LoadHTML.appendChild($script)
          })
          document.querySelector('body').prepend(LoadHTML)
        }).catch((error) => { 
          Swal.fire(error.response.data.msg)
        }).finally(() =>{
          calendar.unselect()
          mask.hide()
        })
      },
      eventClick: arg => {
        mask.show()
        axios.get('/calendar/info/'+arg.event.id).then(res => {
          let LoadHTML = document.createElement("div")
          LoadHTML.innerHTML = res.data
          Array.from(LoadHTML.querySelectorAll('script')).forEach(element => {
            let $script = document.createElement('script');
            $script.text = element.text
            LoadHTML.appendChild($script)
          })
          document.querySelector('body').prepend(LoadHTML)
        }).catch((error) => { 
          Swal.fire(error.response.data.msg)
        }).finally(() =>{
          mask.hide()
        })
      },
      eventChange: (arg) => {
        mask.show()
        let data = new FormData()
        data.append('id', arg.event.id)
        data.append('start', arg.event.start)
        data.append('end', arg.event.end)
        data.append('allDay', arg.event.allDay)
        data.append('resourceId', arg.event.getResources()[0] === null ? 0 : arg.event.getResources()[0].id)    
        axios.put('/calendar',data).catch((error) => { 
          Swal.fire(error.response.data.msg)
        }).finally(() =>{
          mask.hide()
        })
      },
      eventsSet: (arg) => {
        console.dir(arg)
      },
      resourceAreaHeaderContent: '空間名稱',
      resources: '/room',
      events: '/calendar',
    });
    calendar.render()