doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title 諮商系統
    link(rel='shortcut icon' href='/images/favicon.ico')
    link(rel='stylesheet' href='/stylesheets/bootstrap/bootstrap.min.css')
    link(rel='stylesheet' href='/stylesheets/style.css')
  body 
    