extends ../layout

block content
  .container
    .row
      .col
      nav(aria-label="breadcrumb")
        ol.breadcrumb
          li.breadcrumb-item 
            a(href="/") 首頁
          li.breadcrumb-item 個案資料
          li.breadcrumb-item.active 查詢個案資料
    .row
    table.table#maintable
  script.
    document.addEventListener('DOMContentLoaded', function() {
      const table = new Tabulator("#maintable", {
        ajaxURL: "/member" ,
        ajaxConfig: "get" ,
        ajaxContentType: "json",
        layout: "fitDataTable" ,
        height: "100%",
        placeholder:"資料載入中",
        resizableColumnFit : true , 
        pagination : true , //啟用分頁
        paginationSize : 10 , //可選參數以請求每頁的特定行數      
        columnDefaults: {
          width: 200, //set the width on all columns to 200px
          headerHozAlign: "center",
          hozAlign: "center",
          headerSort: false ,
        },
        columns: [
          {title: "#", formatter: "rownum", width: 50},
          {title: "學號", field: "uid" ,  width: 120},
          {title: "學生姓名", field: "name" , width: 120},
          {title: "性別", field: "sex", width: 60},
          {title: "系所年級", field: "deptfull", hozAlign: "left" , width: 300},
          {title: "資料更新日期", field: "updatedLocal" ,  width: 220},
          {title: "功能",field: "uid",
            formatter: function(cell ,  formatterParams ){
              let value = cell.getValue()
              return '<a class="btn btn-info mx-1" href="/member/view/'+value+'">查詢</a><a class="btn btn-success mx-1" href="/record/view/'+value+'">填寫晤談</a>'
            }
          },
        ],
      })
      console.dir(table.getLocale())
    })