extends ../layout

block content
  .container
    .row
      .col
      nav(aria-label="breadcrumb")
        ol.breadcrumb
          li.breadcrumb-item 
            a(href="/") 首頁
          li.breadcrumb-item 個案管理
          li.breadcrumb-item.active 基本資料清單
    .row
      .col-4
        .input-group.mb-3
          span.input-group-text(id="inputGroup-memberUid") 關鍵字
          input.form-control(type="text" placeholder="輸入學號或姓名" aria-label="輸入學號或姓名" aria-describedby="btn-search" name="txt-search" id="txt-search")
          button.btn.btn-outline-secondary(type="button" id="btn-search") 搜尋
      .col-8.text-end
        a.btn.btn-outline-primary.mx-1(href="/member/view/new") 新增基本資料
    table.table#maintable
  script.
    document.addEventListener('DOMContentLoaded', function() {
      const table = new Tabulator("#maintable", {
        layout: "fitDataFill",
        ajaxURL: "/member",
        ajaxConfig: "get",
        ajaxContentType: "json",
        minHeight: 768,
        maxHeight : "100%",
        placeholder: "尚無資料",
        resizableColumnFit: true,
        pagination: true, //啟用分頁
        paginationSize: 10, //可選參數以請求每頁的特定行數
        columnDefaults: {
          headerHozAlign: "center",
          hozAlign: "center",
          headerSort: false,
        },
        columns: [
          {title: "#", formatter: "rownum", width: 50},
          {title: "學號", field: "uid" },
          {title: "學生姓名", field: "name"},
          {title: "性別", field: "sex"},
          {title: "系所年級", field: "deptfull", hozAlign: "left"},
          {title: "最後更新者", field: "refEditor.username"},
          {title: "最後更新日期", field: "updatedLocal" },
          {title: "功能",field: "id",
            formatter: function(cell ,  formatterParams ){
              let value = cell.getValue()
              let buttonstr = '<a class="btn btn-outline-info mx-1" href="/member/view/'+value+'">查詢資料</a>'
              buttonstr += '<button class="btn btn-outline-success mx-1 btn-CreatCase" type="button" data-memberId="'+value+'">建立個案紀錄</button>'
              return buttonstr
            }
          },
        ],
      })

      //建立預約
      document.getElementsByTagName("body")[0].addEventListener('click', function (event) {
        let target = event.target
        if(!target.getAttribute("class")) { return }
        if(target.getAttribute("class").indexOf("btn-CreatCase") !== -1) {
          if(target.getAttribute("data-memberId")) {
            let memberId = target.getAttribute("data-memberId");
            Swal.fire({
              title: '是否建立個案紀錄。',
              showCancelButton: true,
              confirmButtonText: '確認',
              cancelButtonText: '取消',
            }).then((result) => {
              if (result.isConfirmed) {
                axios.get('/case/view',{ params: { id: 0,memberId: memberId } }).then(res => {
                  let LoadHTML = document.createElement("div")
                  LoadHTML.innerHTML = res.data
                  Array.from(LoadHTML.querySelectorAll('script')).forEach(element => {
                    let $script = document.createElement('script');
                    $script.text = element.text
                    LoadHTML.appendChild($script)
                  })
                  document.querySelector('body').prepend(LoadHTML)
                }).catch((error) => { 
                  Swal.fire(error.response.data.msg)
                }).finally(() =>{
                  mask.hide()
                })
              } 
            })
          }
        }
      })

      document.querySelector('#btn-search').addEventListener('click',(e) => {
        mask.show()
        axios.get('/member/'+document.querySelector('#txt-search').value)
        .then((res) => { 
          table.setData(res.data);
        }).catch((error) => { 
          Swal.fire(error.response.data.msg)
        }).finally(() => { 
          mask.hide()
        })
      })
    })