extends ../layout

block content
  .container
    .row
      .col
      nav(aria-label="breadcrumb")
        ol.breadcrumb
          li.breadcrumb-item 
            a(href="/") 首頁
          li.breadcrumb-item 基本資料建檔
    form(action="")
    .row 
      .col-12.col-md-4
        label.form-label 學生學號
        .input-group.mb-3
          input.form-control(class="form-control" type="text")
          button(class="btn btn-outline-secondary" tpye="button" ) 由教務處代入基本資料
      .col-12.col-md-4
        label.form-label 學生姓名
        input.form-control(class="form-control" type="text")
      .col-12.col-md-4
        label.form-label 出生年月日
        input.form-control(class="form-control" type="date")
    .row.mb-1
      .col-12.col-md-4
        br
        label.form-label 性別 &nbsp;
        .form-check.form-check-inline
          input(class="form-check-input" type="radio" name="radio1" value="option1")
          label.form-check-label 男
        .form-check.form-check-inline
          input(class="form-check-input" type="radio" name="radio1" value="option1")
          label.form-check-label 女
      .col-12.col-md-4
        label.form-label 年齡
        input.form-control(class="form-control" type="text") 
      .col-12.col-md-4
        br
        label.form-label 婚姻狀況 &nbsp;
        .form-check.form-check-inline
          input(class="form-check-input" type="radio" name="radio2" value="option1")
          label.form-check-label 未婚
        .form-check.form-check-inline
          input(class="form-check-input" type="radio" name="radio2" value="option1")
          label.form-check-label 已婚
    .row.mb-1
      .col-12.col-md-4
        label.form-label 身分證字號
        input.form-control(class="form-control" type="text") 
      .col-6.col-md-4
        label.form-label 系所
        input.form-control(class="form-control" type="text") 
      .col-3.col-md-2
        label.form-label 年班
        input.form-control(class="form-control" type="text") 
      .col-3.col-md-2
        label.form-label 年班
        input.form-control(class="form-control" type="text") 
    .row.mb-1
      .col-12.col-md-6
        label.form-label 行動電話
        input.form-control(class="form-control" type="text") 
      .col-12.col-md-6
        label.form-label 市內電話
        input.form-control(class="form-control" type="text") 
    .row.mb-1
      .col-12.col-md-6
        label.form-label E-Mail
        input.form-control(class="form-control" type="text") 
      .col-12.col-md-6
        br
        label.form-label 聯絡時是否可以表明輔導中心 &nbsp;
        .form-check.form-check-inline
          input(class="form-check-input" type="radio" name="radio2" value="option1")
          label.form-check-label 是
        .form-check.form-check-inline
          input(class="form-check-input" type="radio" name="radio2" value="option1")
          label.form-check-label 否
    .row.mb-1
      .col-12.col-md-6
        label.form-label 住宿地址
        input.form-control(class="form-control" type="text") 
      .col-12.col-md-6
        label.form-label 戶籍地址
        input.form-control(class="form-control" type="text") 
    .row.mb-1
      .col-6.col-md-3
        label.form-label 緊急聯絡人
        input.form-control(class="form-control" type="text") 
      .col-6.col-md-3
        label.form-label 關係
        input.form-control(class="form-control" type="text") 
      .col-6.col-md-3
        label.form-label 緊急連絡人電話
        input.form-control(class="form-control" type="text") 
      .col-6.col-md-3
        label.form-label 緊急連絡人手機
        input.form-control(class="form-control" type="text") 