extends ../layout

block content
  .container
    .row
      .col
      nav(aria-label="breadcrumb")
        ol.breadcrumb
          li.breadcrumb-item 
            a(href="/") 首頁
          li.breadcrumb-item 個案資料
          li.breadcrumb-item.active 個案追蹤
    .row
      .col-4
        .input-group.mb-3
          span.input-group-text(id="inputGroup-memberUid") 學號
          input.form-control(type="text" placeholder="輸入學號" aria-label="輸入學號" aria-describedby="btn-search" name="txt-search" id="txt-search")
          button.btn.btn-outline-secondary(type="button" id="btn-search") 搜尋
    table.table#maintable
  script.
    document.addEventListener('DOMContentLoaded', function() {
      const table = new Tabulator("#maintable", {
        ajaxURL: "/case",
        ajaxConfig: "get",
        ajaxContentType: "json",
        layout: "fitColumns",
        minHeight: 300,
        maxHeight : "100%",
        placeholder: "尚無資料",
        resizableColumnFit: true,
        pagination: true, //啟用分頁
        paginationSize: 10, //可選參數以請求每頁的特定行數
        columnDefaults: {
          headerHozAlign: "center",
          hozAlign: "center",
          headerSort: false,
        },
        columns: [
          {title: "#", formatter: "rownum", width: 50},
          {title: "學號", field: "uid" },
          {title: "學生姓名", field: "name"},
          {title: "性別", field: "sex"},
          {title: "系所年級", field: "deptfull", hozAlign: "left"},
          {title: "資料更新日期", field: "updatedLocal" },
          {title: "功能",field: "id",
            formatter: function(cell ,  formatterParams ){
              let value = cell.getValue()
              return '<a class="btn btn-info mx-1" href="/member/view/'+value+'">查詢</a><button class="btn btn-success mx-1 btn-CreatCase" type="button" data-memberId="'+value+'">預約</button>'
            }
          },
        ],
      })

    })