.modal.fade
  .modal-dialog.modal-dialog-centered
    .modal-content
      .modal-header
        h1.modal-title.fs-5 密碼修改
        button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")
      .modal-body
        form(action="#" id="formData")
          input(type="hidden" name="uid" id="uid" value=UserData.id)
          .mb-3
            label.form-label 使用者密碼
            input.form-control(type="password" name="password" id="password" maxlength="20" autocomplete="off")
      .modal-footer
        buttin.btn.btn-success(type="button" id="btn_process" data-btn-type="edit") 修改
        buttin.btn.btn-secondary(type="button" data-bs-dismiss="modal") 取消
  script.
    (function(){
      let ModalElement = document.getElementsByClassName("modal")[0]
      let modalMethod = new bootstrap.Modal(ModalElement, {backdrop: 'static'})
      ModalElement.addEventListener('hidden.bs.modal', event => {  
        ModalElement.parentElement.parentElement.removeChild(ModalElement.parentNode) 
      })
      modalMethod.show()
      //新增與修改
      document.getElementById('btn_process').addEventListener('click', (e) => {
        let data = new FormData(document.getElementById('formData'));
        Swal.fire({
          text: '是否要修改密碼？',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: '確定',
          cancelButtonText: '取消',
        }).then((result) => {
          if (result.isConfirmed) {
            mask.show()
            axios.put('/users/pwd',data).then((res) => {
              Swal.fire(res.data.msg).then((result) => {
                if(result.isConfirmed) {
                  location.reload()
                }
              })
            })
            .catch((error) => { Swal.fire(error.response.data.msg) })
            .finally(() => {mask.hide()})
          }
        })     
      });
    })()