extends ../layout

block content
  .container
    nav(aria-label="breadcrumb")
      ol.breadcrumb
        li.breadcrumb-item 
          a(href="/") 首頁
        li.breadcrumb-item 系統設定
        li.breadcrumb-item.active 空間管理
    .row 
      .col.text-end.mb-2
        button.btn.btn-primary.btn-Detailed(type="button" data-id="0") 新增空間
    table.table#maintable
  script(src="/javascripts/jscolor.min.js")
  script.
    document.addEventListener('DOMContentLoaded', function() {
      const table = new Tabulator("#maintable", {
        ajaxURL: "/room" ,
        ajaxConfig: "get" ,
        ajaxContentType: "json",
        layout: "fitDataTable" ,
        height: "100%",
        placeholder:"資料載入中",
        resizableColumnFit : true , 
        columnDefaults: {
          width: 300, //set the width on all columns to 200px
          headerHozAlign: "center",
          hozAlign: "center",
          headerSort: false ,
        },
        columns: [
          {title: "#", formatter: "rownum", width: 40,headerSort: false},
          {title: "空間名稱", field: "title"},
          {title: "標籤顏色", field: "eventColor",headerSort: false,formatter:"color", width:90},
          {title: "狀態", field: "isDisabledName"},
          {title: "最後變更日期", field: "updatedLocal"},
          {title: "功能",field: "id",headerSort: false,
            formatter: function( cell , formatterParams ){
              let value = cell.getValue()
              return '<button type="button" class="btn btn-success btn-Detailed" data-id="'+value+'">修改</button>'
            }
          },
        ],
      })
      
      //新增與修改彈窗
      document.querySelector('body').addEventListener('click', event => {
        let target = event.target
        if(!target.getAttribute("class")) {
          return
        }
        if(target.getAttribute("class").indexOf("btn-Detailed") !== -1) {
          mask.show()
          axios.get('/room/detailed/'+target.getAttribute("data-id")).then((res) => {
            let LoadHTML = document.createElement("div")
            LoadHTML.innerHTML = res.data
            Array.from(LoadHTML.querySelectorAll('script')).forEach(element => {
              let $script = document.createElement('script');
              $script.text = element.text
              LoadHTML.appendChild($script)
            })
            document.querySelector('body').prepend(LoadHTML)
          }).catch((error) => { 
            Swal.fire('樣板發生錯誤。')
          }).finally(() =>{ mask.hide() })
        }
      })
    })